@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans&display=swap');
body {
    background-repeat: no-repeat;
    background: rgb(0, 64, 108);
    background: linear-gradient(180deg, rgba(0, 64, 108, 1) 0%, rgba(0, 58, 97, 1) 0%, rgba(0, 51, 86, 1) 10%, rgba(0, 46, 78, 1) 20%, rgba(0, 41, 69, 1) 30%, rgba(0, 37, 62, 1) 40%, rgba(0, 33, 55, 1) 50%, rgba(0, 26, 44, 1) 60%, rgba(0, 21, 35, 1) 70%, rgba(0, 17, 28, 1) 80%, rgba(0, 11, 18, 1) 90%, rgba(0, 0, 0, 1) 100%);
    font-family: 'Rubik Dirt', cursive;
    /*background: #141E30;
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
p {
    margin: 0;
}

.row {
    display: flex;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


/* Hero */

.hero {
    gap: 3em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh);
}

.hero>* {
    flex: 1 1 25em;
}

.hero h1 {
    font-weight: 500;
    font-size: clamp(40px, 5vw, 70px);
    line-height: 1;
    color: white;
}

.hero p {
    font-weight: 700;
    font-size: 20px;
    padding: 1em 0;
    font-family: 'Satisfy', cursive;
}


/*.hero a {
    font-family: 'Concert One', cursive;
    font-weight: 700;
    font-size: 20px;
    color: #ff99ac;
    padding: 0.5em 1em;
    background: linear-gradient(90deg, rgba(0, 17, 28, 1) 0%, rgba(0, 17, 28, 1) 153.95%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}*/

.hero-btn img {
    width: 20px;
    height: 20px;
}

.hero-btn i {
    color: black;
}

.middle {
    text-align: center;
}

.hero a {
    background: -webkit-gradient(to left, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background: linear-gradient(to left, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font: 1.5em 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20rem;
    font-size: 20px;
    padding: 0.5em 1em;
    color: black;
}

.hero,
a:hover {
    animation-name: gradient;
    -webkit-animation-name: gradient;
    animation-duration: 2s;
    -webkit-animation-duration: s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100%;
    }
}


/* End Hero*/

.features-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 10rem;
    gap: 10rem;
    margin-bottom: 10rem
}

.feature {
    background: #457b9d;
    background: linear-gradient(90deg, rgba(168, 218, 220, 1) 0%, rgba(69, 123, 157, 1) 37%, rgba(55, 100, 129, 1) 76%, rgba(21, 59, 84, 1) 100%);
    border-radius: 26px;
    display: flex;
    align-items: center;
    position: relative;
    height: 220px
}

.feature.reverse {
    background: #457b9d;
    background: linear-gradient(270deg, rgba(168, 218, 220, 1) 0%, rgba(69, 123, 157, 1) 37%, rgba(55, 100, 129, 1) 76%, rgba(21, 59, 84, 1) 100%);
}

.feature img {
    max-width: 400px
}

.feature>div {
    -webkit-margin-start: clamp(40%, 4vw, 200px);
    margin-inline-start: clamp(40%, 4vw, 200px)
}

.feature.reverse>div {
    -webkit-margin-start: unset;
    margin-inline-start: unset;
    -webkit-margin-end: 40%;
    margin-inline-end: 40%;
    padding: clamp(1rem, 3vw, 5rem)
}

.feature h2 {
    font-family: 'Acme', sans-serif;
    font-weight: 600;
    font-size: 22px!important;
    line-height: 30px
}

.feature p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 18px
}

.feature .left {
    position: absolute;
    left: 0;
    border-radius: 10px;
    width: 35%;
    perspective: 484px;
    box-shadow: -67.1px 62.5px 125px -25px rgba(9, 9, 14, .856), -16.2px 37.5px 75px -37.5px rgba(6, 12, 34, .274);
    transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(23deg) rotate(-9.8deg) translateX(-15px);
    transition: all .2s ease-out
}

.feature .left:hover {
    width: 40%;
    perspective: 0;
    transform: scale(1) rotateX(0) rotateY(0) rotate(0) translateX(-45px)
}

.feature .right {
    position: absolute;
    right: 0;
    border-radius: 10px;
    width: 35%;
    perspective: 484px;
    box-shadow: 67.1px 62.5px 125px -25px rgba(9, 9, 14, .856), 16.2px 37.5px 75px -37.5px rgba(6, 12, 34, .274);
    transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(-23deg) rotate(15deg) translateX(-35px);
    transition: all .2s ease-out
}

.feature .right:hover {
    width: 40%;
    perspective: 0;
    transform: scale(1) rotateX(0) rotateY(0) rotate(0) translateX(35px)
}

.ltr {
    direction: ltr!important;
}

.fav {
    margin-top: -3px;
    color: #fff;
    padding: 0 clamp(1rem, 10vw, 200px);
    background: url();
    background-color: var(--landing-bg);
    background-repeat: no-repeat;
}