        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        body {
            /*display: flex;
    height: 100vh;*/
            /*align-items: center;
        justify-content: center;*/
            background-color: #011B10;
            /*text-align: center;*/
            overflow-x: hidden;
        }
        
        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        ul li {
            position: relative;
            display: block;
            color: #b7bf96;
            font-size: 30px;
            height: 60px;
            width: 60px;
            background: #133a1b;
            line-height: 60px;
            border-radius: 50%;
            margin: 10px 30px;
            cursor: pointer;
            transition: .5s;
        }
        
        ul li:before {
            align-items: center;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background: #b7bf96;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            z-index: -1;
            transform: scale(0.9);
            transition: .5s;
        }
        
        ul li:hover:before {
            filter: blur(3px);
            transform: scale(1.3);
            box-shadow: 0 0 15px #b7bf96;
        }
        
        ul li:hover {
            color: #b7bf96;
            box-shadow: 0 0 15px #b7bf96;
            text-shadow: 0 0 15px #b7bf96;
        }